/* 룰 입력을 위한 컨테이너 스타일 */
.rule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 텍스트 영역 스타일 */
.rule textarea {
  width: 90%;
  height: 170px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* 버튼을 감싸는 영역 스타일 */
.btnWrap {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* 버튼 간의 공간을 동일하게 분배 */
}

/* 화면 너비가 600px 이하일 때 */
@media (max-width: 600px) {
  .btnWrap {
    width: 103%;
  }
}
